/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    macros {
        hyper: hyper {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_GUI &kp LEFT_SHIFT &kp LCTRL &kp LEFT_ALT>;
            label = "HYPER";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp LEFT_BRACKET   &kp N1  &kp N2            &kp N3              &kp N4          &kp N5                          &kp N6           &kp N7           &kp N8       &kp N9             &kp N0    &kp GRAVE
&kp RIGHT_BRACKET  &kp Q   &kp W             &kp E               &kp R           &kp T                           &kp Y            &kp U            &kp I        &kp O              &kp P     &kp MINUS
&kp TAB            &kp A   &mt LEFT_SHIFT S  &mt LEFT_CONTROL D  &mt LEFT_GUI F  &mt LEFT_ALT G                  &mt RIGHT_ALT H  &mt RIGHT_GUI J  &mt RCTRL K  &mt RIGHT_SHIFT L  &kp SEMI  &kp SQT
&kp EQUAL          &kp Z   &kp X             &kp C               &kp V           &kp B           &none    &none  &kp N            &kp M            &kp COMMA    &kp DOT            &kp FSLH  &kp BACKSLASH
                                             &hyper              &kp ESC         &lt 1 SPACE     &none    &none  &lt 2 ENTER      &kp BSPC         &hyper
            >;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   | BTOG|  BBLE |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |EP_ON|EP_OFF|EP_TOG|     |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans  &kp F1  &kp F2     &kp F3                &kp F4         &kp F5                     &kp F6          &kp F7        &kp F8          &kp F9     &kp F10  &kp F11
&trans  &trans  &trans     &kp LS(LA(NUMBER_2))  &trans         &trans                     &trans          &trans        &trans          &trans     &trans   &trans
&trans  &trans  &kp LA(N)  &kp LA(I)             &kp LA(GRAVE)  &kp LA(E)                  &kp LEFT_ARROW  &kp UP_ARROW  &kp DOWN_ARROW  &kp RIGHT  &trans   &trans
&trans  &trans  &trans     &kp LA(C)             &trans         &trans     &none    &none  &trans          &trans        &trans          &trans     &trans   &trans
                           &trans                &trans         &trans     &none    &none  &trans          &kp DEL       &trans
            >;

            label = "LOWER";
        };

        raise_layer {
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                         &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4  &bootloader
&trans      &trans        &trans        &trans        &out OUT_TOG  &ext_power EP_TOG                    &trans         &trans         &trans         &trans         &trans         &trans
&trans      &trans        &trans        &trans        &trans        &trans                               &trans         &trans         &trans         &trans         &trans         &trans
&trans      &trans        &trans        &trans        &trans        &trans             &trans    &trans  &trans         &trans         &trans         &trans         &trans         &trans
                                        &trans        &trans        &trans             &trans    &trans  &trans         &trans         &trans
            >;

            label = "RAISE";
        };
    };
};
